/* This file is part of Task Board. Copyright 2014 Stefan Göbel. Licensed under the GPL 3.        */

/* Reset and general rules: ***********************************************************************/

* {
   font-family : "DejaVu Sans Condensed", "Liberation Sans", Helvetica, sans-serif;
   font-size   : 1em;
   font-style  : normal;
   font-weight : normal;
   margin      : 0;
   padding     : 0;
}

html {
	height : 100%;
}

body {
   height  : 100%;
   padding : 0 1em;
}

pre, code, kbd, samp, var {
   font-family : monospace, monospace;
}

output {
   display : block;
}

button,
input:not([type="checkbox"]) {
   border  : 1px solid #ccc;
   padding : 0 0.5em;
}

:focus:-moz-input-placeholder     { color : transparent; }
:focus::-moz-input-placeholder    { color : transparent; }
:focus:-ms-input-placeholder      { color : transparent; }
:focus::-webkit-input-placeholder { color : transparent; }

button::-moz-focus-inner,
input::-moz-focus-inner { 
   border  : 0;
   padding : 0;
}

button {
   background-color : inherit;
   text-align       : center;
}

button[disabled] {
   color : #ddd !important;
}

input[type="text"],
[contenteditable="true"] {
   cursor : text;
}

input[type="text"]:focus {
   background-color : #ffc;
}

[contenteditable="true"]:focus {
   background-color : #ffc;
   border           : none;
   box-shadow       : none;
   min-width        : 1em;
   outline          : 0;
}

span.key {
   text-decoration : underline;
}

kbd.key {
   background-color : #eee;
   background-image : linear-gradient(#eee, #ddd);
   border           : 1px solid;
   border-color     : #ddd #aaa #888 #ccc;
   display          : inline-block;
   padding          : 0 .4em;
   text-align       : center;
   text-shadow      : 0 1px #ddd;
   width            : 1em;
}

strong {
   font-weight : bold;
}

p {
   margin-bottom : 1em;
}

/* No JavaScript warning (having a bit of fun here, maybe I'll make it even more annoying ☺): *****/

@keyframes warning {
     0% { color : #f00; }
    95% { color : #f00; }
    96% { color : #fff; }
   100% { color : #fff; }
}

@-webkit-keyframes warning {
     0% { color : #f00; }
    95% { color : #f00; }
    96% { color : #fff; }
   100% { color : #fff; }
}

#nojs:before, #nojs:after {
   animation         : warning 2s linear infinite;
   -webkit-animation : warning 2s linear infinite;
   content           : "⚠";
   font-size         : 2em;
   margin            : 0 1em;
   vertical-align    : sub;
}

#nojs {
   font-size      : 1.2em;
   font-weight    : bold;
   letter-spacing : 0px;
   padding-top    : 2em;
   text-align     : center;
}

#board,
#controls {
   display : none;
}

/* Controls: **************************************************************************************/

#controls {
   background-color : #fff;
   border           : 1px solid #ccc;
   border-top       : none;
   box-shadow       : 1px 1px 5px #ddd;
   left             : 0;
   margin           : 0 auto;
   padding-top      : 0.5em;
   position         : fixed;
   right            : 0;
   top              : 0;
   width            : 90%;
   z-index          : 9999;
}

#controls.hidden {
   padding-top : 0;
}

#controls label[for="command"] {
   float      : left;
   padding    : 0 0.5em 0 1em;
   margin-top : 1px;
}

#controls .buttons {
   float      : right;
   padding    : 0 1em 0 0.33em;
   text-align : right;
}

#controls button {
   background-color : #eee;
   padding-bottom   : 0;
   padding-top      : 0;
}

#controls #toggle-help,
#controls #toggle-options {
   margin-left : 0.5em;
}

#controls #toggle-help:before,
#controls #toggle-options:before {
   content      : "☑";
   margin-right : 0.5em;
}

#controls #toggle-help.hidden:before,
#controls #toggle-options.hidden:before {
   content : "☐";
}

#controls #submit { color : #0b0; }
#controls #cancel { color : #b00; }

#controls div.console {
   min-width : 10em;
   overflow  : hidden;
}

#controls #command,
#controls output {
   box-sizing         : border-box;
   -moz-box-sizing    : border-box;
   -webkit-box-sizing : border-box;
   width              : 100%;
}

#controls output {
   background-color : #eee;
   border           : 1px solid #ccc;
   border-top       : none;
   cursor           : default;
   padding          : 0.5em;
}

#controls output.empty   { color : #999; }
#controls output.normal  { color : #000; }
#controls output.success { color : #060; }
#controls output.warning { color : #a70; }
#controls output.error   { color : #b00; }

#controls .help,
#controls .options {
   border     : 1px solid #ccc;
   cursor     : default;
   margin     : 1em 1em 0 1em;
   min-height : 3.5em;
   padding    : 0.5em 1em;
   position   : relative;
}

#controls .help {
   max-height : 20em;
   overflow   : scroll;
}

#controls .help:after,
#controls .options:after {
   font-size   : 5em;
   line-height : 0.8em;
   position    : absolute;
   text-shadow : 1px 1px 5px #ccc;
   top         : 5px;
}

#controls .help:after {
   color   : #f4fff4;
   content : "?";
   right   : 0.175em;
}

#controls .options:after {
   color   : #fff;
   content : "⚙";
   right   : 0;
}

#controls .help {
   background-color : #f4fff4;
}

#controls .help h1,
#controls .options h1 {
   border-bottom  : 1px solid #ccc;
   font-size      : 1.3em;
   font-weight    : bold;
   letter-spacing : 2px;
   margin-bottom  : 1em;
   margin-right   : 3em;
}

#controls .help h2,
#controls .options h2 {
   border-bottom  : 1px solid #ccc;
   font-size      : 1.1em;
   font-weight    : bold;
   letter-spacing : 1px;
   margin-bottom  : 1em;
   margin-top     : 2em;
}

#controls .help p {
   text-align : justify;
}

#controls .help code {
   background-color : #ffe;
   box-shadow       : 0 0 1px #ccc;
   padding-left     : 0.2em;
   padding-right    : 0.2em;
   white-space      : pre;
}

#controls .help table {
   border-collapse : collapse;
   margin-bottom   : 1em;
}

#controls .help td {
   padding-left  : 0.25em;
   padding-right : 0.25em;
   width         : auto;
}

#controls .help tr.div td {
   height : 1em;
}

#controls .help td:first-child { padding-left  : 0; }
#controls .help td:last-child  { padding-right : 0; }

#controls .help td code {
   background-color : inherit;
   box-shadow       : none;
}

#controls .options label {
   display       : inline-block;
   margin-bottom : 0.5em;
}

#controls hr {
   border     : none;
   background : #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAAZiS0dEAEIA8QBju82ZUwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGw4vAXHFyFoAAAAdSURBVAhbY2BAAh0dHf8ZsAGQBAzjlEBRgE0ChgFp+ClxnRnaMwAAAABJRU5ErkJggg==) no-repeat center 3px;
   height     : 7px;
   margin-top : 0.5em;
   min-height : 7px;
}

#controls.hidden hr {
   background : #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAAXNSR0IArs4c6QAAAAZiS0dEAEIA8QBju82ZUwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGw4vGWKpUAwAAAAbSURBVAhbY+jo6PiPCzOAAE4JGMApgawAmQ8ASG4pcc06HuIAAAAASUVORK5CYII=) no-repeat center 0px;
   margin-top : 0;
}

#controls hr:hover {
   background-color : #ddd;
}

/* Task Board - General: **************************************************************************/

#board table {
   table-layout : fixed;
   width        : 100%;
}

#board button,
#board .handle,
#board .more {
   background-color : #fff;
   border           : none;
   color            : #ccc;
   font-weight      : normal;
   outline          : none;
   text-align       : center;
   width            : 2em;
}

#board .more:before {
   color : #ccc;
}

#board button:hover,
#board .handle:hover,
#board .more:hover:before {
   color : #000;
}

#board button.add:hover { color : #080; }
#board button.rm:hover  { color : #b00; }

#board .grab {
   cursor : move;
}

/* Task Board - Headers - General: ****************************************************************/

#board .header,
#board .header .id,
#board .header .more,
#board .header .more:before {
   height      : 1.25em !important;
   line-height : 1.25em !important;
}

/* Task Board - Headers - Controls: ***************************************************************/

#board .header {
   background-color : #fff;
}

#board .header :last-child:after,
#board .header .controls :last-child:after {
   clear   : both;
   content : "";
   display : block;
}

#board .header .controls,
#board .header .handle {
   float      : right;
   height     : 100%;
   visibility : hidden;
}

#board .header:hover .controls,
#board .header:hover .handle {
   visibility : visible;
}

#board .header .handle,
#board .header .more,
#board .header button {
   border-left : 1px solid #ccc;
   height      : 100%;
}

#board .header .controls > button {
   float : left;
}

#board .header .more {
   border-right : 1px solid #ccc;
   margin-left  : -2em;
   position     : absolute;
}

#board .header .more button {
   border-left   : none;
   border-bottom : 1px solid #ccc;
   line-height   : 1.75em;
   height        : 1.75em;
}

#board .header .more + button {
   border : none;
}

#board .header .more:before {
    content : "⋯";
    display : block;
}

#board .header .more .hidden {
   background-color : #fff;
   border-top       : 1px solid #ccc;
   display          : none;
}

#board .header .more:hover {
   height : auto !important;
}

#board .header .more:hover .hidden {
   display : block;
}

/* Task Board - Headers - Text & ID: **************************************************************/

#board .header .id {
   border-right   : 1px solid #ccc;
   float          : left;
   min-width      : 2em;
   padding        : 0 0.5em;
   text-align     : right;
   vertical-align : middle;
}

#board .header .id span {
   color       : #888;
   font-size   : 0.8em;
   font-weight : bold;
}

#board .header .id span:before {
   content : "#";
   opacity : 0.5;
}

#board .header .name {
   color               : #333;
   letter-spacing      : 1px;
   overflow            : hidden;
   padding             : 0 0.5em;
   text-align          : left;
   text-overflow       : ellipsis;
   text-shadow         : 0 0 1px #ccc;
   -moz-user-select    : none;
   -ms-user-select     : none;
   -o-user-select      : none;
   -webkit-user-select : none;
   white-space         : nowrap;
}

#board .header .name[contenteditable="true"] {
   text-overflow : clip;
}

/* Task Board - List specific overrides: **********************************************************/

#board .list {
   background-color : #eee;
   border           : 1px solid #ccc;
   border-top       : none;
   border-spacing   : 0.2em 0;
   margin-bottom    : 1em;
   min-height       : 1em;
   table-layout     : fixed;
   width            : 100%;
}

#board .list > .header {
   border       : 1px solid #ccc;
   caption-side : top;
   overflow     : hidden;
}

#board .list > .header .handle,
#board .list > .header .more,
#board .list > .header button {
   width : 3em;
}

#board .list > .header .more {
   margin-left : -3em;
}

#board .list           > .header .btn-toggle:before { content : "⊟"; }
#board .list.collapsed > .header .btn-toggle:before { content : "⊞"; }

#board .list > .header .name {
   font-weight : bold;
   margin      : 0 13em 0 0.5em;
}

#board .list.collapsed {
   border-bottom : none;
   margin-bottom : 2px;
   min-height    : 0;
}

#board .list.collapsed .body {
   display : none;
}

/* Task Board - Stage specific overrides: *********************************************************/

#board .hdiv {
   height : 2px;
}

#board .stage {
   background-color : #fff;
   border           : 1px solid #ccc;
}

#board .stages + .stages .header .more .hidden {
   border        : 1px solid #ccc;
   border-bottom : none;
   left          : -1px;
   position      : absolute;
   bottom        : 1.25em;
}

#board .stages .stage:first-child .btn-movel { display : none; }
#board .stages .stage:last-child  .btn-mover { display : none; }

#board .stage .id span:before {
   content : "+";
}

#board .stage .name {
   margin : 0 4.5em 0 3.5em;
}

/* Task Items: ************************************************************************************/

#board .items {
   background-color : #fff;
   border           : 1px solid #ccc;
   border-bottom    : none;
   border-top       : none;
   padding          : 1em 0.5em;
   vertical-align   : top;
}

#board .items:empty {
   height : 3.5em;
}

#board .item {
   background-color : #faffff;
   border           : 1px solid #ccc;
   box-shadow       : 1px 1px 2px #ddd;
   margin-top       : 1em;
}

#board .item:first-child {
   margin-top : 0;
}

#board .item .text {
   color         : #333;
   font-weight   : bold;
   margin        : 0.5em;
   overflow      : hidden;
   text-overflow : ellipsis;
}

#board .item .footer,
#board .item .footer button {
   height      : 1.2em;
   line-height : 1.2em;
}

#board .item .footer .id {
   float          : left;
   padding        : 0 0.5em;
   text-align     : right;
   vertical-align : middle;
}

#board .item .footer .id span {
   color       : #888;
   font-size   : 0.8em;
   font-weight : bold;
}

#board .item .footer .id span:before {
   content : "@";
   opacity : 0.5;
}

#board .item .footer .controls {
   float      : right;
   height     : 100%;
   visibility : hidden;
}

#board .item:hover .footer .controls {
   visibility : visible;
}

#board .item:hover .footer button {
   background-color : transparent;
   border-left      : 1px solid #ccc;
   border-top       : 1px solid #ccc;
   float            : left;
}

/* Drag & Drop Placeholders: **********************************************************************/

.ui-sortable-helper {
   opacity : 0.75;
}

.list-placeholder {
   background-color : #ffc;
   border           : 1px dashed #ccc;
   margin-bottom    : 1em;
   opacity          : 0.5;
}

.item-placeholder {
   background-color : #ffc;
   border           : 1px dashed #ccc;
   box-shadow       : 1px 1px 2px #ddd;
   opacity          : 0.5;
   margin-top       : 1em;
}

.items > .item-placeholder:first-child,
.items > .ui-sortable-helper:first-child + .item,
.items > .ui-sortable-helper:first-child + .item-placeholder {
   margin-top : 0 !important;
}

/* Footer: ****************************************************************************************/

#wrapper {
   box-sizing : border-box;
	min-height : 100%;
	margin     : 0 auto -1.5em;
}

footer, #margin {
   box-sizing : border-box;
	height     : 1.5em;
}

footer {
   border-top : 1px solid #ccc;
   color      : #ccc;
   text-align : right;
}

footer ul {
   display         : inline-block;
   list-style-type : none;
}

footer li {
   display   : inline-block;
   font-size : 0.75em;
}

footer li:after {
   content : "•";
   margin  : 0 1em;
}

footer li:last-child:after {
   content : "";
   margin  : 0;
}

footer a {
   color : inherit;
}

/* Task mode overrides: ***************************************************************************/

body.taskmode {
   background-color : #ccc !important;
}

body.taskmode #controls {
   box-shadow : 1px 1px 5px #ccc;
}

body.taskmode #board .list.collapsed {
   display : none;
}

body.taskmode #board .list {
   background-color : #ccc;
   border           : 1px solid #ccc;
}

body.taskmode #board .list > .header,
body.taskmode #board .stages + .stages .header,
body.taskmode #board .header .more,
body.taskmode .hdiv {
   display : none;
}

body.taskmode #board .header .controls .more + button {
   border-left : 1px solid #ccc;
}

body.taskmode .name,
body.taskmode .id span {
   color       : #ccc !important;
   text-shadow : none !important;
}

/* :indentSize=3:tabSize=3:noTabs=true:mode=css:maxLineLen=100: */